.request{
    background-color: #F4F4F4;
    padding: 95px 0;
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__row-item{
        display: flex;
        align-items: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background: url(../img/arrow.png) no-repeat;
            width: 40px;
            height: 32px;
            left: -70px;
           
        }
        &:first-child::before{
                display: none;
        }
    }
    &__text{
        margin-left: 30px;
        font-size: 18px;
        line-height: 24px;
    }
    &__btn{
        margin-left: 30px; 
        background-color: var(--kiwi);
        color: #fff;
        border: none;
        padding: 14px 16px;
        cursor: pointer;
        &:hover{
            background-color: #beb400c0;
        }
    }
}