@media(max-width:1200px) {
    .main__info {
        padding-top: 120px;
    }
}
@media(max-width:1199px){ 
    .country {
        padding: 64px 0 72px;
    }
    .request__row-item::before{
        left: -35px;
    }
    .about {
        padding: 64px 0 128px;
    }
    .about__inner{
        margin-bottom: 84px;
    }
    .about__title {
        font-size: 48px;
        margin-bottom: 40px;
    }
    .about__text {
        font-weight: 300;
        font-size: 28px;
        margin: 0 auto 68px;
    }
    .about__item-numb {
        font-size: 65px;
        line-height: 65px;
    }
    .about__item-text {
        font-size: 20px;
        line-height: 28px;
    }
}
@media(max-width:1024px){
    .main__info{
        padding-bottom: 48px;
    }
    .main__info-subtitle{
        margin-bottom: 172px;
    }
    
    .insurance {
        padding: 64px 0;
    }

    .information__item-title{
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .advantages__title{
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 65px;
    }
    .advantages__item-title{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .request{
        padding: 60px 0;
    }
    .request__text{
        font-size: 16px;
    }
    .request__row-item::before {
        display: none;
    }
    .request__row{
        flex-direction: column;
    }
    .request__row-item{
        justify-content: center;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}


@media(max-width:1023px) {  
   .header__menu{
       display: none;
       transition: all .3s ease-out;
   }
   .burger{
       display: block;
       
   }
   .header__menu.active{
      display: block;
      transition: all .3s ease-out;
   }
   .header__menu.active > .header__menu-list{
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background: #f3f3f3;
    height: auto;
    width: 100%;
    padding: 10px 5px;
    transition: all .5s;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
   }
   .header__menu-link{
       padding: 10px;
       font-size: 16px;
   }
   .header > .container{
       padding: 0;
   }
   .main__info-item.banner{
       display: none;
   }
   .main__info {
    padding-top: 170px;
}
   .insurance__item{
    width: 45%;
    display: flex;
    margin-bottom: 55px;
    &::after{
        display: none;
    }
    &:nth-child(3),
    &:nth-child(4){
        margin-bottom: 0;
    }
   }
   .insurance__item-content{
    padding-left: 30px;
    
   }
   .information__item-text{
      font-size: 16px;
   }
   .information__item span{
       font-size: 16px;
   }
   .advantages__inner{
       flex-wrap: wrap;
   }
   .advantages__title{
    font-size: 40px;
    line-height: 48px;
   }
   .advantages__item {
    width: 48%;
    margin-bottom: 55px;
    &:nth-child(3){
        margin-bottom: 0;
    }
    &:nth-child(4){
        margin-bottom: 0;
    }
  }
  .country__inner{
      flex-direction: column;
  }
  .country__content-info{
      padding-left: 0;
      order: 0;
      display: flex;
      flex-wrap: wrap;
  }
  .country__content{
     order: 1;
  }
  .country__content-info__item{
      width: 33%;
  }
  .about__title {
    font-size: 40px;
    margin-bottom: 24px;
    line-height: 40px;
  }
  .about__text{
      font-size: 24px;
      line-height: 32px;
  }
  .about__item {
      width: 25%;

  }
  .about__item-numb {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 20px;
  }
  .about__item-text {
    font-size: 18px;
    line-height: 24px;
   }
   .footer__top{
      flex-wrap: wrap;
   }
   .footer__item {
    width: 33%;
  }
  .footer__logo{
      order: 1;
  }
}

@media(max-width:812px){
    .main-container{
        display: block;
    }
    .main__info-subtitle {
        margin-bottom: 10px;
    }
}



@media(max-width:768px) {    
    .main__info-title{
        font-size: 26px;
    }
    }
    .main__info-subtitle{
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 50px;
    }
   
    .main__info-item{
        max-width: 448px;
        margin-bottom: 40px;
    }
    .country__content-text{
        font-size: 16px;
    }
    .main__info-banner img{
        width: 170px;
    }



@media(max-width:767px){
    .header__btn{
        display: none;
    }
    .burger{
        margin-left: auto;
    }
    
    
     .main__info-banner{
         padding-top: 0;
     }
    .main__info-subtitle{
        margin-bottom: 25px;
    }
    .main__info-form{
        padding: 10px 15px;
    }
    .insurance__item {
        width: 100%;
        margin-bottom: 32px;
        &:nth-child(3){
            margin-bottom: 32px;
        }
    }
    .information{
        padding: 40px 0 72px;
    }
    .information__inner{
        flex-direction: column;
        margin-bottom: 100px;
    }
    .information__image{
        order: 0;
    }
    .information__item{
        order: 1;
    }
    .information__image{
        margin-bottom: 25px;
        img{
            width: 250px;
        }
    }
    .information__item-text,
    .information__item-link{
        font-size: 14px;
        line-height: 20px;
     }

    .advantages__inner {
        flex-direction: column;
    }
    
    .advantages__item {
        width: 100%;
        margin-bottom: 32px;
        display: flex;
    }
    .advantages__item-info{
        margin-left: 20px;
    }
    .advantages__title {
        font-size: 32px;
        line-height: 40px;
    }
    .advantages__item-title{
        margin-bottom: 5px;
    }
    .advantages__item {
        &:nth-child(3){
            margin-bottom: 32px;
        }
        &:nth-child(4){
            margin-bottom: 32px;
        }
    }
    .country__content-info__item {
        width: 100%;
    }
    .country {
        padding: 40px 0 65px;
    }
    .country__title {
        margin-bottom: 30px;
    }
    .about__title {
        font-size: 32px;
    }
    .about__text {
        font-size: 20px;
        line-height: 24px;
    }
    .about__inner{
        flex-direction: column;
    }
    .about__item {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .about__item-text{
        padding-left: 20px;
    }
    .footer__item.footer__item-info{
        width: 100%;
        padding-top: 32px;
    }
}

@media(max-width:640px){
    .main__info-banner {
        position: absolute;
        right: 0;
        left: 0;
        bottom: -75px;
    }
     .main__info-banner img{
         width: 255px;
     }
     .main__info-item {
        max-width: 330px;
    }
     .main__info-banner img {
        width: 185px;
    }
    .main__info-item{
        max-width: 375px;
    }
    .main__info {
        padding-top: 120px;
    }
    .main__info-subtitle{
        margin-bottom: 32px;
    }
}
@media(max-width:480px){
   
    .about__item-numb {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 0;
    }
   
}
@media(max-width:479px){
    .main__info-line{
        flex-direction: column;
        align-items: center;
 } 
 .main__info-btn {   
    font-size: 16px;
    line-height: 20px;  
    padding: 14px 20px;
   
 }
 .form__row{
     margin-bottom: 25px;
 }
 
.insurance__title{
    text-align: center;
}
 .information__image{
    img{
        width: 150px;
    }
 }
  .advantages{
    padding: 64px 0 71px;
 }
 .advantages__title{
     margin-bottom: 44px;
 }
}
@media(max-width:340px){
    .form__row{
        display: flex;
        flex-direction: column;
    }
    .main__info-form__date{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .main__info-subtitle{
        margin-bottom: 10px;
    }
    .main__info-banner{
        display: none;
    }
    .main__info {
        padding-top: 95px;
    }
}
@media(min-width:1023px){
    .burger{
       display: none;
    }
}